html, body  {
    margin:0px;
    height:100%;
    background:#fff;
    font-family: 'Roboto';
    font-size:16px;
    overflow-x: hidden;
}
.cuerpo{
    width: 100%;
    padding: 0;
}
.cuerpoCentral{
    padding-top:30px;
}
section{
    .container{
        width:85%;
    }
}
.central{
    height:100%;
    // overflow-y:scroll;
}
.seguro{
    margin-top: -30px;
    background: #222326;
    width: 95%;
    position: absolute;
    height: 40px;

}
.navigation{
    text-align: center;
    a{
        color:#ddd;
        margin-top:20px;
        margin-bottom:20px;
        display:block;
        text-decoration: none;

    }
    a:hover{
        color:white;
    }
    .glyphicon{
        font-size:25px;
        display:block;
        width:100%;

    }
}
.head-title {
    font-size:20px;
    font-weight: bold;
    text-transform: uppercase;


}

#user_logged{
    
}
#user_logged .user-image{
    background:#eee;
    border-radius:100px;
    height:57px;
    width:57px;
    margin:0px auto;
    margin-top:15px;
    overflow:hidden;
    img{
    width:57px;
    }

}
.btn-logout{
    cursor:pointer;
}
#canvas-container{
    height:500px;
    width:500px;
}
.botonFacebook{
    background:blue;
}
// .graficaGrafos{
//     width:700px;
//     height:700px;
    
// }
// #mynetwork{
//     width:700px;
//     height:700px;
// }
.artist_image_for_edit{
    width:150px;
}
.artist-image{
    img{
        width:150px;
    }
}

//MAQUETADO TARJETA
.artist-list{
    margin:0px;
    padding:0px;
    margin:30px;
    list-style:none;
}
.artist-item{
    width:23%;
    margin:0px;
    padding:0px;
    height:317px;
    border:1px solid #444;
    margin-left:15px;
    margin-top:15px;
    .artist-image{
        height:245px;
        width:100%;
        overflow:hidden
    }
    .artist-image img{
            height:100%;
            min-width:100%;

    }
    .artist-name{
        position:relative;
        color:white;
        padding:10px;
        background:#222326;
        a{
            color:white;           
        }
    }
}

#artist-head-card{
    .artist-image{
        width:150px;
        height:150px;
        overflow:hidden;
        float:left;
        margin-right:30px;
        img{
            height:150px;
        }
    }
}

//Mis reactions


@mixin size($width,$height){
  width:$width;
  height:$height;
}

.anim {
  animation:slide 0.3s;
  @keyframes slide {
    50%{
      opacity:0;
      margin-top: 40px;
    }
    100%{
      opacity:1;
      margin-top: 15px;
    }
  }
}


.show {
  display:block;
  transition: 0.3s linear;
}
.preguntatest{
    .row{
    height: 600px;
        .contenedorCuestionario{
            .show{
                position:relative;
            }


        }
    }

}

//Mis fantasias laborales
#tipos{
    display:none;
    #divCont{
        background:Red;
    }
    #divContFluid{
        background:blue;
    }
    #divNull{
        background:yellow;
    }
}
#reglasFlex{
    width:500px;
    height:500px;
    border:1px solid #000;
    margin:0;
    display:flex;
    display:none;
    .caja1{
        background:red;
    }
    .caja2{
        background:green;
    }
    .caja3{
        background:pink;
    }
}

#home{
    .container{
        .bienvenida{
            div{
            margin-top: 1vh;
            }
        }
        .notificaciones{
             margin-top: 10vh;
            .card{
            border: 1px solid #0275d8;
            margin-bottom: 20px;
                .card-header{
                border: 1px solid #0275d8;
                background: #9CD8E5;   
                }
                .card-block{
                border: 1px solid #0275d8;
                }
                .card-footer{
                border: 1px solid #0275d8;   
                }

             }

        }
    }
}

//COSA LIBRES
.elemTest{
    width:60%;
    margin:auto;
    margin-top:20px;
}
// oblig0 es la clase para los elementos que estan 
.falta{
    color:red !important;
}
.parteLisata{
    border-color: #2e9c2e !important;
    background:#93bb3c !important;

}