$radius: 50px;
$bg: #3B4757;
$moon: #c7cbd0;
$crater: #737277;
$crater1: $radius / 2;
$crater2: $radius / 4;
$crater3: $radius / 8;

@mixin crater-shadow($scale: 1){
  box-shadow: inset ($scale * $radius / 100 * 3) ($scale * -1 * $radius / 100) 0 0px darken($crater, 20%);
}


.moon {
  position: absolute;
  right:60px;
  top: 60px;
  margin: -1 * $radius;
  width: $radius * 2;
  height: $radius * 2;
  background: $moon;
  border-radius: 50%;
  box-shadow: inset (-1 * $radius / 4) 0px 0 0px darken($moon, 20%);
   -webkit-backface-visibility: hidden;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
li {
  position: absolute;
  list-style: none;
  background: $crater;
  border-radius: 50%;
}

li:nth-child(1) {
  left: $radius / 4;
  top: $radius / 5 * 3;
  width: $crater1;
  height: $crater1;
  @include crater-shadow(2);
}

li:nth-child(2) {
  left: $radius / 2 * 3;
  top: $radius / 2;
  width: $crater2;
  height: $crater2;
  @include crater-shadow;
}

li:nth-child(3) {
  left: $radius;
  top: $radius / 2 * 3;
  width: $crater2;
  height: $crater2;
  @include crater-shadow;
}

li:nth-child(4) {
  left: $radius / 2;
  top: $radius / 2 * 3;
  width: $crater3;
  height: $crater3;
  @include crater-shadow(0.8);
}

li:nth-child(5) {
  left: $radius * 7 / 8;
  top: $radius / 6;
  width: $crater3;
  height: $crater3;
  @include crater-shadow(0.8);
}

li:nth-child(6) {
  left: $radius * 8 / 7;
  top: $radius * 4 / 5;
  width: $crater3;
  height: $crater3;
  @include crater-shadow(0.8);
}

li:nth-child(7) {
  left: $radius * 20 / 11;
  top: $radius;
  width: $crater3;
  height: $crater3;
  @include crater-shadow(0.8);
}
}










//Mountain
.bg{
    overflow: hidden;
    position: absolute;
    height: 300px;
    width: 100%;
    bottom: 0;
}
.mountain, .mountain-two, .mountain-three {
    position: absolute;
    bottom: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 180px solid #7ac1e4;
    z-index: 1;
}
.mountain-two { 
    left: 80px;
    bottom: -20px;
    opacity: .3;
    z-index: 0;
}
.mountain-three {
    left: -60px;
    bottom:-10px;
    opacity: .5;
    z-index: 0;
}
.mountain-top {
    position: absolute;
    right: -65px;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    border-bottom: 77px solid #ceeaf6;
    z-index: 2;
}
.mountain-cap-1, .mountain-cap-2, .mountain-cap-3 {
    position: absolute;
    top: 70px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #ceeaf6;
}
.mountain-cap-1 { left: -55px; }
.mountain-cap-2 { left: -25px; }
.mountain-cap-3 { left: 5px; }
.cloud, .cloud:before, .cloud:after {
  position: absolute;
  width: 70px;
	height: 30px;
	background: #fff;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}
.cloud { 
  bottom: 100px;
  -webkit-animation: cloud 50s infinite linear;
          animation: cloud 50s infinite linear;
}
@-webkit-keyframes cloud {
    0%   { left: -100px; }
    100% { left: 1000px; } 
}
@keyframes cloud {
   
    0%   { left: -100px; }
    100% { left: 1000px; } 
}
.cloud:before {
  content: '';
  left: 50px;
}
.cloud:after {
  content: '';
  left: 25px;
  top: -10px;
}


.mov1{
transform: translate(60vw,0);
}
.floor{
    width: 120%;
    height: 100px;
    position: absolute;
    bottom: -58px;
    left: -78px;
    border-radius: 50%;
    z-index: 5;
    background: #a0cd50;
    background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
    background: linear-gradient(to right, #7db718, #43cebd);

}

//arbol
    $tree-stem-color:#795548;
    $tree-left-color:#388E3C;
	$tree-right-color:#1B5E20;
.tree {
	background:$tree-stem-color;
	position:absolute;
	width:15px;
	height:40px;
	font-size:0;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.leaf {
	display:flex;
	margin-bottom:30px;
}
.leaf:before {
	content:'';
	display:block;
	width:0;
	height:0;
	border-style:solid;
	border-width:0 0 100px 50px;
	border-color:transparent transparent $tree-left-color transparent;
	margin-top:-125px;
	margin-left:-43px;
}
.leaf:after {
	content:'';
	display:block;
	width:0;
	height:0;
	border-style:solid;
	border-width:0 50px 100px 0;
	border-color:transparent transparent $tree-right-color transparent;
	margin-top:-125px;
}

.tree#one {
	margin-top:150px;
	margin-left:44px;
    bottom: 0;
    z-index: 6;
}
.costado0{
        left: 2vw;
    transform:scale(.4);
}
.costado1{
    left: 5vw;
    transform:scale(.5);
}
.costado2{
    left: 15vw;
    transform:scale(.6);
    z-index:5;
}
.costado3{
    left: 10vw;
    transform:scale(.4);
}
.costado4{
    left: 13vw;
    transform:scale(.4);
}
.costado5{
    left: 7vw;
    transform:scale(.4);
}


//Rocket
$white: #f5f5f5;
$lightgrey: #dadada;
$midgrey: #b4b2b2;
$darkgrey: #554842;
$red: #f01a19;
$darkred: #a75248;

.rocket {
    position: absolute;
    width: 80px;
    bottom: -22px;
    right: 30px;
    z-index: 4;
  transform: scale(0.5);
  .rocket-body {
    width: 80px;
    left: calc(50% - 50px);
    animation: bounce 0.5s infinite;
    .body {
      background-color: $lightgrey;
      height: 180px;
      left: calc(50% - 50px);
      border-top-right-radius: 100%;
      border-top-left-radius: 100%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-top: 5px solid $white;
    }
    &:before {
      content: '';
      position: absolute;
      left: calc(50% - 24px);
      width: 48px;
      height: 13px;
      background-color: $darkgrey;
      bottom: -13px;
      border-bottom-right-radius: 60%;
      border-bottom-left-radius: 60%;
    }
  }
  .window {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $darkred;
    left: calc(50% - 25px);
    top: 40px;
    border: 5px solid $midgrey;
  }
  .fin {
    position: absolute;
    z-index: -100;
    height: 55px;
    width: 50px;
    background-color: $darkred;
  }
  .fin-left {
    left: -30px;
    top: calc(100% - 55px);
    border-top-left-radius: 80%;
    border-bottom-left-radius: 20%;
  }
  .fin-right {
    right: -30px;
    top: calc(100% - 55px);
    border-top-right-radius: 80%;
    border-bottom-right-radius: 20%;
  }
  .exhaust-flame {
    position: absolute;
    top: 90%;
    width: 28px;
    background: linear-gradient(to bottom, transparent 10%, $white 100%);
    height: 150px;
    left: calc(50% - 14px);
    animation: exhaust 0.2s infinite;
  }
  .exhaust-fumes li {
    width: 60px;
    height: 60px;
    background-color: $white;
    list-style: none;
    position: absolute;
    border-radius: 100%;
    &:first-child {
      width: 200px;
      height: 200px;
      bottom: -300px;
      animation: fumes 5s infinite;
    }
    &:nth-child(2) {
      width: 150px;
      height: 150px;
      left: -120px;
      top: 260px;
      animation: fumes 3.2s infinite;
    }
    &:nth-child(3) {
      width: 120px;
      height: 120px;
      left: -40px;
      top: 330px;
      animation: fumes 3s 1s infinite;
    }
    &:nth-child(4) {
      width: 100px;
      height: 100px;
      left: -170px;
      animation: fumes 4s 2s infinite;
      top: 380px;
    }
    &:nth-child(5) {
      width: 130px;
      height: 130px;
      left: -120px;
      top: 350px;
      animation: fumes 5s infinite;
    }
    &:nth-child(6) {
      width: 200px;
      height: 200px;
      left: -60px;
      top: 280px;
      animation: fumes2 10s infinite;
    }
    &:nth-child(7) {
      width: 100px;
      height: 100px;
      left: -100px;
      top: 320px;
    }
    &:nth-child(8) {
      width: 110px;
      height: 110px;
      left: 70px;
      top: 340px;
    }
    &:nth-child(9) {
      width: 90px;
      height: 90px;
      left: 200px;
      top: 380px;
      animation: fumes 20s infinite;
    }
  }
}

.star li {
  list-style: none;
  position: absolute;
  &:before,
  &:after {
    content: '';
    position: absolute;
    background-color: $white;
  }
  &:before {
    width: 10px;
    height: 2px;
    border-radius: 50%;
  }
  &:after {
    height: 8px;
    width: 2px;
    left: 4px;
    top: -3px;
  }
  &:first-child {
    top: -30px;
    left: -210px;
    animation: twinkle 0.4s infinite;
  }
  &:nth-child(2) {
    top: 0;
    left: 60px;
    animation: twinkle 0.5s infinite;
    &:before {
      height: 1px;
      width: 5px;
    }
    &:after {
      width: 1px;
      height: 5px;
      top: -2px;
      left: 2px;
    }
  }
  &:nth-child(3) {
    left: 120px;
    top: 220px;
    animation: twinkle 1s infinite;
  }
  &:nth-child(4) {
    left: -100px;
    top: 200px;
    animation: twinkle 0.5s ease infinite;
  }
  &:nth-child(5) {
    left: 170px;
    top: 100px;
    animation: twinkle 0.4s ease infinite;
  }
  &:nth-child(6) {
    top: 87px;
    left: -79px;
    animation: twinkle 0.2s infinite;
    &:before {
      height: 1px;
      width: 5px;
    }
    &:after {
      width: 1px;
      height: 5px;
      top: -2px;
      left: 2px;
    }
  }
}

@keyframes fumes {
  50% {
    transform: scale(1.5);
    background-color: transparent;
  }
  51% {
    transform: scale(0.8);
  }
  100% {
    background-color: $white;
    transform: scale(1)
  }
}

@keyframes bounce {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  50% {
    transform: translate3d(0px, -4px, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}

@keyframes exhaust {
  0% {
    background: linear-gradient(to bottom, transparent 10%, $white 100%);
  }
  50% {
    background: linear-gradient(to bottom, transparent 8%, $white 100%);
  }
  75% {
    background: linear-gradient(to bottom, transparent 12%, $white 100%);
  }
}

@keyframes fumes2 {
  50% {
    transform: scale(1.1);
  }
}

@keyframes twinkle {
  80% {
    transform: scale(1.1);
    opacity: 0.7;
  }
}



///EL VERDADERO ROCKET


.rocket{
  animation: rocketMov linear 9s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: rocketMov linear 9s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: rocketMov linear 9s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: rocketMov linear 9s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: rocketMov linear 9s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes rocketMov{
  0% {
    transform:  translate(0px,0px)  scaleX(0.50) scaleY(0.50) ;
  }
  53% {
    transform:  translate(37px,-260px)  scaleX(0.30) scaleY(0.30) ;
  }
  100% {
    transform:  translate(1px,-51px)  scaleX(0.50) scaleY(0.50) ;
  }
}

@-moz-keyframes rocketMov{
  0% {
    -moz-transform:  translate(0px,0px)  scaleX(0.50) scaleY(0.50) ;
  }
  53% {
    -moz-transform:  translate(37px,-260px)  scaleX(0.30) scaleY(0.30) ;
  }
  100% {
    -moz-transform:  translate(1px,-51px)  scaleX(0.50) scaleY(0.50) ;
  }
}

@-webkit-keyframes rocketMov {
  0% {
    -webkit-transform:  translate(0px,0px)  scaleX(0.50) scaleY(0.50) ;
  }
  53% {
    -webkit-transform:  translate(37px,-260px)  scaleX(0.30) scaleY(0.30) ;
  }
  100% {
    -webkit-transform:  translate(1px,-51px)  scaleX(0.50) scaleY(0.50) ;
  }
}

@-o-keyframes rocketMov {
  0% {
    -o-transform:  translate(0px,0px)  scaleX(0.50) scaleY(0.50) ;
  }
  53% {
    -o-transform:  translate(37px,-260px)  scaleX(0.30) scaleY(0.30) ;
  }
  100% {
    -o-transform:  translate(1px,-51px)  scaleX(0.50) scaleY(0.50) ;
  }
}

@-ms-keyframes rocketMov {
  0% {
    -ms-transform:  translate(0px,0px)  scaleX(0.50) scaleY(0.50) ;
  }
  53% {
    -ms-transform:  translate(37px,-260px)  scaleX(0.30) scaleY(0.30) ;
  }
  100% {
    -ms-transform:  translate(1px,-51px)  scaleX(0.50) scaleY(0.50) ;
  }
}


//Responsive
