$altura:48px;
$verdeBoton:#10a99a;
.cuerpoCentral{
    padding-top:$altura;
}
.navigation-vertical{
    background: linear-gradient(90deg, #31A8C5 0.02%, #31C5BE 100.02%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    height:$altura;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    display: flex;
    align-items: center;
    color: white;
    z-index: 3;
    @media screen and (max-width:625px){
    justify-content: space-between;
    }
    .estatica{
    font-size: 1.5rem;
    flex: 0 1 243px;
    margin-left: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width:365px){
    flex: 0 1 160px;
    }
        i{
        transition: all ease .5s;
        font-size:36px;    
        }
        span{
        margin: 0;
        font-size: 1.2rem;
        margin-right: 4px;
        flex: 1 0 0px;
        text-align: center;
        @media screen and (max-width:400px){
        font-size:15px;

        }  
        }   
    }
    .infoMenu{
    display: flex;
    flex: 10 0 0;
    justify-content: center;
    @media screen and (max-width:625px){
    display:none;
    }
        span{
            margin: 0;
            font-size: 1.45rem;   
        }        
    }
    .notificacionMenu{
    flex: 2 0 0;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    font-size: 1.2em;
    align-items: center;
    @media screen and (max-width:625px){
    flex: 0 0 115px;
    }
    
    }
}
.sidebar{
    position: fixed;
    width: 250px;
    color: white;
    z-index: 2;
    height: 100vh;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.25);
    background: rgba(49, 168, 197, 0.8);
    transform: translateX(-275px);
    transition: all ease .5s;

    a{
        color:#fff;
        text-decoration: none;
    }
    ul{
        list-style: none;
        padding:0;
        margin:0;
    }
    .cabecera{
    display: flex;
    background: #31A8C5;
    height: 30px;
    justify-content: space-around;
    align-items: center;
        h3{
            font-size: 1.5rem;
            margin: 0;
        }
        i{
            font-size: 25px;
            transform: rotate(90deg);
        }
    }
    .datosBasicos{
        display: flex;
        align-items: center;
        margin: 1rem 0px;
        justify-content: space-between;
        height: 12%;
        max-height: 120px;
        margin-top:$altura+16px;
            @media screen and (max-height:500px){
                margin-bottom: 3px;
                margin-top: 75px;
            }
        img{
            height: 88px;
        }
        .datos{
            padding-left: 0.8rem;
            text-align: left;
            span:nth-child(1){
            font-size: 1.1rem; 
            }
            span:nth-child(2){
            font-size: 0.8rem;
            }
        }
    }
    .linkNavigation{
        height: 76%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .navigation{
        text-align: center;
        ul{
            a{
                @media screen and (max-height:500px){
                    margin-top: 10px;
                    margin-bottom: 10px;
                    height: 25px;
                }
                span{
                margin-right: 24px;            
                }
            }
            a:hover,.actived{
                background: #2979FF;
            }
            
        }   
        }
        .navigation:nth-child(2){
            border-top: 1px solid #107c96;
            text-align: center;
            ul{
                a{
                     padding-left: 0;
                     justify-content: center;        
                }
            }
        }
    }
}

.navigation{
    ul{
        a{
                background: rgba(37, 155, 184, 0.33);
    border-radius: 11px;
    text-align: left;
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
        }
    }
}
.mostrarHorizontal{
    transform: translateX(0px);
}
.voltearBar{
transform: rotate(90deg);    
}
.circuloMaterial{
    color:white;
    height: 55px;
    width: 55px;
    position: fixed;
    background: #009688;
    /* top: 0; */
    z-index: 4;
    bottom: 36px;
    right: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24);    
}


// TEST
#cuerpo-mi-test,#cuerpo-mis-Skills{
    padding: 20px;
    #mensajeEntrada{
    margin-top: 13vh;
    padding: 20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    #contenidoMensaje{
    box-shadow: 0 0 81px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24);
    padding: 20px;
    #primerNivel{
    display: flex;
    #izquierda{
    margin: 0 19px;
    display: flex;
    align-items: center;
        img{
            height: 146px;    
        }      
    }
    #derecha{
    display: flex;
    flex-direction: column;
    justify-content: center;    
        #tituloMensaje{
        display: flex;
        align-items: center;        
        }
    }
    @media screen and (max-width:768px){
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    }

    }
    #segundoNivel{
        #botones{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
    color: #009688;
        #separador{
         margin-right: 10%;       
        }
        #empezarButton{
        cursor:pointer;
        }    
        }

    }
    h1{
         font-size: 1.6rem;   
    }   
    }   
    }
    #despuesMensaje,#contenido-cuerpo{
    height: 100%;
    #cabeceraTest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:10%;
    width: 100%;
    // @media screen and (max-width:768px){
    // margin-top: 10px !important;
    // margin-bottom: 10px !important;
    // }
    span{
        font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    /* margin-bottom: 65px !important; */
    color: #00bcd4;   
    }
.timeLine{
    width: 100%;
    height: 40px;
    position: relative;
    .lineaTransversal{
     height: 3px;
    background: #009688;
    /* margin-top: 0px; */
    position: absolute;
    top: 16px;
    width: 93%;
    margin-left: 3%;
    margin-right: 3%;
    z-index: 0;       
    }
   .circulos2{
        width: 100%;
    /* height: 20px; */
    display: flex;
    justify-content: space-between;
    /* padding-right: 50px; */
    z-index: 1;
    .circuloActiva{
        background: #009688 !important;
        span{
            color:white !important;
        }   
    }
    .circulo-interno{
    z-index:2;   
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #009688;
  transition: background-color 0.5s ease;
    span{
        color:#009688;
        font-size: 22px;
        margin: 0;
    }   
    }   
   }
}

    }
}
    .preguntaActiva{
        height:400px !important;
    }
    .pregunta{
    align-items: center;
    display: flex;
    justify-content: center;
    color: #00bcd4;
    font-size: 21px;
    margin: 23px;
    text-align: center; 
    height: 25%;
    margin: 4%;
    margin-top: 12%;
    span{
    font-size:15px;
    }
    }
    #preguntasBaby{
        display: flex;
    overflow-x: hidden;
    flex-wrap: nowrap;
    align-items: center;
    height: 72%;
    .test-preguntas{
    transition: all ease 1s;
    font-size: 15px!important;
    flex-shrink: 0;
    width: 100%;
    .formulario{
        width: 100%;
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 4%;

        label:before{
        border: 2px solid #009688;   
        }
        label{
            color: #056d63;    
        }
        .input-group.checkbox input[type="checkbox"]:checked + label{
                background:$verdeBoton;
                color:white;    
        }
        .input-group{
            margin-bottom:0 !important;
        }
    }        
    }
    #resultadosTest{
        #canvas-container-skill{
            display: flex;
            justify-content: center;    
        }

    }
}
    // .ocultoElegante{
    // overflow-y: hidden;
    // height:0px;
    // }
    
    #botones{
    display: flex;
    margin: auto;
    bottom: 20px;
    height: 10%;
    #atras-preg,#siguiente-preg{
    background: #f2f2f2;
    border: 2px solid #009688;
    color: #009688; 
    }
    #atras-preg,#siguiente-preg{
    border-radius: 1px;
    display: inline-block;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    transition: all 1s ease;  
    }
    .botonSigActivado{
    cursor: pointer !important;
    background: #009688 !important;
    color:white !important;
    }
    }
}

#cuerpo-mis-Skills{
    #contenido-cuerpo{
        #cabeceraTest{
            span{

            }
        }
        #botones{
            #atras-preg{

            }
            #siguiente-preg{

            }    
        }
        #barraPersonalidad{
        height: 17px;
        width: 100%;
        display: flex;
        justify-content: center;
        div{
            text-align: center;
            font-size: 13px;
            color: white;
        }    
        }
        #mensajeEntrada{
        margin-top:0 !important;
        }
        #carouselSkills{
        display: flex;
        align-items: center;
            .izquierdaMov,.derechaMov{
                width: 50px;
                height: 50px;
                background: #1ab48a;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 24px;        
            }
            #cuerpoCarr{
                display: flex;
                overflow-x: hidden;
                flex-wrap: nowrap;
                width: 80%;
                margin: 0 10px;
                .tarjeta{
                width: 300px;
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24);
                flex-shrink: 0;
                transition: all ease 1s;
                font-size: 15px !important;
                margin-right: 20px;
                .parteSupTar{
                background: linear-gradient(to right, #96c93d, #00b09b);
                display: flex;
                position: relative;
                justify-content: center;
                    .circuloPuesto{
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        width: 40px;
                        height: 40px;
                        background: #FF5722;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        span{
                            color: white;
                            font-weight: bold;    
                        }   
                    }    
                }
                .parteInfTar{
                background: white;
                padding: 10px;
                display: flex;
                flex-direction: column;
                    .tituloPI{
                    margin: 4px;
                    font-size: 1.5em;
                    font-weight: 700;    
                    }    
                    .cuerpoPI{
                    margin: 4px;    
                    }
                    .algunasCarreras{
                    margin: 4px;
                    display: flex;
                    flex-direction: column;
                    .carreras{
                    font-size: 1.2em;
                    font-weight: 700;
                    right: 0;   
                    }
                    // .listaCarreras{
                    //     span{

                    //     }
                    // }                        
                    }
                    .botonesTarjeta{
                        display: flex;
                        justify-content: flex-end;
                        color: #1d938a;
                        margin: 10px;
                        .empezarButton{
                         font-size: 1.2em;   
                        }              
                    }

                }  
                }
            }   
        }

    }



}