html, body {
  margin: 0px;
  height: 100%;
  background: #eee;
  font-family: 'Roboto', sans-serif; }

section .container {
  width: 85%; }

.central {
  height: 100%;
  overflow-y: scroll; }

.seguro {
  margin-top: -30px;
  background: #222326;
  width: 95%;
  position: absolute;
  height: 40px; }

.navigation {
  height: 100vh;
  position: fixed;
  text-align: center;
  color: white;
  background: #1c1c1f; }
  .navigation a {
    color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none; }
  .navigation a:hover {
    color: white; }
  .navigation .glyphicon {
    font-size: 25px;
    display: block;
    width: 100%; }

.head-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase; }

#user_logged {
  background: #1c1c1f;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #444;
  width: 75%;
  text-decoration: none; }

#user_logged .user-image {
  background: #eee;
  border-radius: 100px;
  height: 57px;
  width: 57px;
  margin: 0px auto;
  margin-top: 15px;
  overflow: hidden; }
  #user_logged .user-image img {
    width: 57px; }

.btn-logout {
  cursor: pointer; }

.actived {
  border-bottom: 4px solid #84BD00;
  padding-bottom: 4px; }

#canvas-container {
  height: 500px;
  width: 500px; }

.botonFacebook {
  background: blue; }

.artist_image_for_edit {
  width: 150px; }

.artist-image img {
  width: 150px; }

.artist-list {
  margin: 0px;
  padding: 0px;
  margin: 30px;
  list-style: none; }

.artist-item {
  width: 23%;
  margin: 0px;
  padding: 0px;
  height: 317px;
  border: 1px solid #444;
  margin-left: 15px;
  margin-top: 15px; }
  .artist-item .artist-image {
    height: 245px;
    width: 100%;
    overflow: hidden; }
  .artist-item .artist-image img {
    height: 100%;
    min-width: 100%; }
  .artist-item .artist-name {
    position: relative;
    color: white;
    padding: 10px;
    background: #222326; }
    .artist-item .artist-name a {
      color: white; }

#artist-head-card .artist-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  float: left;
  margin-right: 30px; }
  #artist-head-card .artist-image img {
    height: 150px; }

.anim {
  -webkit-animation: slide 0.3s;
          animation: slide 0.3s; }
@-webkit-keyframes slide {
  50% {
    opacity: 0;
    margin-top: 40px; }
  100% {
    opacity: 1;
    margin-top: 15px; } }
@keyframes slide {
  50% {
    opacity: 0;
    margin-top: 40px; }
  100% {
    opacity: 1;
    margin-top: 15px; } }
.show {
  display: block;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear; }

.preguntatest .row {
  height: 600px; }
  .preguntatest .row .contenedorCuestionario .show {
    position: relative; }

#tipos {
  display: none; }
  #tipos #divCont {
    background: Red; }
  #tipos #divContFluid {
    background: blue; }
  #tipos #divNull {
    background: yellow; }

#reglasFlex {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none; }
  #reglasFlex .caja1 {
    background: red; }
  #reglasFlex .caja2 {
    background: green; }
  #reglasFlex .caja3 {
    background: pink; }

#home .container .bienvenida div {
  margin-top: 1vh; }
#home .container .notificaciones {
  margin-top: 10vh; }
  #home .container .notificaciones .card {
    border: 1px solid #0275d8;
    margin-bottom: 20px; }
    #home .container .notificaciones .card .card-header {
      border: 1px solid #0275d8;
      background: #9CD8E5; }
    #home .container .notificaciones .card .card-block {
      border: 1px solid #0275d8; }
    #home .container .notificaciones .card .card-footer {
      border: 1px solid #0275d8; }

.elemTest {
  width: 60%;
  margin: auto;
  margin-top: 20px; }

.falta {
  color: red !important; }

.parteLisata {
  border-color: #2e9c2e !important;
  background: #93bb3c !important; }

.parteNoActiva {
  display: none; }

#cabeceraTest .container, #footerTest .container, .cuerpoTest .container {
  width: 60%; }
  #cabeceraTest .container .circulos, #footerTest .container .circulos, .cuerpoTest .container .circulos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #cabeceraTest .container .circulos .circulo, #footerTest .container .circulos .circulo, .cuerpoTest .container .circulos .circulo {
      width: 40px;
      height: 40px;
      text-align: center;
      padding: 7px;
      border-radius: 68%;
      border: 2px solid #1c75bc; }
    #cabeceraTest .container .circulos .pintamelo, #footerTest .container .circulos .pintamelo, .cuerpoTest .container .circulos .pintamelo {
      background: #4ed4f4; }
  #cabeceraTest .container .encabezadoNumero, #cabeceraTest .container .encabezadoTitulo, #footerTest .container .encabezadoNumero, #footerTest .container .encabezadoTitulo, .cuerpoTest .container .encabezadoNumero, .cuerpoTest .container .encabezadoTitulo {
    text-align: center;
    color: #4ed4f4;
    font-weight: bold;
    border-color: #deea49;
    font-size: 32px; }
  #cabeceraTest .container .felicitaciones, #footerTest .container .felicitaciones, .cuerpoTest .container .felicitaciones {
    text-align: center;
    font-size: 48px;
    color: #e040fb; }
  #cabeceraTest .container .encabezadoTitulo, #footerTest .container .encabezadoTitulo, .cuerpoTest .container .encabezadoTitulo {
    border-width: 0px 0px 5px;
    border-style: solid; }
  #cabeceraTest .container .situacionActual, #footerTest .container .situacionActual, .cuerpoTest .container .situacionActual {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 158px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px; }
    #cabeceraTest .container .situacionActual h2, #footerTest .container .situacionActual h2, .cuerpoTest .container .situacionActual h2 {
      color: #8d53b8; }
  #cabeceraTest .container .botonSiguiente, #footerTest .container .botonSiguiente, .cuerpoTest .container .botonSiguiente {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px; }
  #cabeceraTest .container .pregunta, #footerTest .container .pregunta, .cuerpoTest .container .pregunta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-top: 26px; }
    #cabeceraTest .container .pregunta p, #cabeceraTest .container .pregunta span, #footerTest .container .pregunta p, #footerTest .container .pregunta span, .cuerpoTest .container .pregunta p, .cuerpoTest .container .pregunta span {
      text-align: center;
      color: #9a9a9a; }
    #cabeceraTest .container .pregunta select, #footerTest .container .pregunta select, .cuerpoTest .container .pregunta select {
      border: 2px solid #93bb3c;
      font-size: 18px;
      font-weight: bold;
      color: #717171; }
    #cabeceraTest .container .pregunta textarea, #footerTest .container .pregunta textarea, .cuerpoTest .container .pregunta textarea {
      height: 100px;
      border: 2px solid #8d53b8; }
    #cabeceraTest .container .pregunta .noMostrar, #footerTest .container .pregunta .noMostrar, .cuerpoTest .container .pregunta .noMostrar {
      display: none; }
    #cabeceraTest .container .pregunta .alternativas .alternativa input, #footerTest .container .pregunta .alternativas .alternativa input, .cuerpoTest .container .pregunta .alternativas .alternativa input {
      display: none; }
    #cabeceraTest .container .pregunta .alternativas .alternativa label, #footerTest .container .pregunta .alternativas .alternativa label, .cuerpoTest .container .pregunta .alternativas .alternativa label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 18px;
      font-weight: bold;
      color: #717171; }
      #cabeceraTest .container .pregunta .alternativas .alternativa label div, #footerTest .container .pregunta .alternativas .alternativa label div, .cuerpoTest .container .pregunta .alternativas .alternativa label div {
        width: 40px;
        height: 40px;
        display: inline-block;
        border: 2px solid #93bb3c;
        text-align: center;
        line-height: 20px;
        margin-right: 6px;
        border-radius: 3px;
        cursor: pointer; }
      #cabeceraTest .container .pregunta .alternativas .alternativa label i, #footerTest .container .pregunta .alternativas .alternativa label i, .cuerpoTest .container .pregunta .alternativas .alternativa label i {
        font-size: 40px;
        opacity: 0;
        color: #93bb3c; }
    #cabeceraTest .container .pregunta .alternativas .alternativa label:hover div, #footerTest .container .pregunta .alternativas .alternativa label:hover div, .cuerpoTest .container .pregunta .alternativas .alternativa label:hover div {
      background: #eceeef; }
    #cabeceraTest .container .pregunta .alternativas .alternativa input:checked + label i, #footerTest .container .pregunta .alternativas .alternativa input:checked + label i, .cuerpoTest .container .pregunta .alternativas .alternativa input:checked + label i {
      opacity: 1; }
    #cabeceraTest .container .pregunta .alternativas .alternativa input:checked + label div, #footerTest .container .pregunta .alternativas .alternativa input:checked + label div, .cuerpoTest .container .pregunta .alternativas .alternativa input:checked + label div {
      background: #eceeef; }

#PersonalidadesVocacionales {
  display: none; }
  #PersonalidadesVocacionales .numSeccion {
    color: red; }
  #PersonalidadesVocacionales .tituloSeccion {
    color: red; }
  #PersonalidadesVocacionales #steps {
    color: red; }
  #PersonalidadesVocacionales .preguntaEstandar {
    color: red; }
  #PersonalidadesVocacionales .contenedorCuestionario {
    display: none; }

.fantasy-ilustration {
  display: inline-block;
  background: url(../img/sprite-illustrations.png) no-repeat 0 0;
  width: 133px;
  height: 133px; }

#todoClase {
  width: 80%;
  margin: auto; }
  #todoClase #ClaseExplorarCarrera {
    margin-top: 20px; }
  #todoClase .cuerpoTest .botonesCambio {
    margin-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #todoClase .cuerpoTest .botonesCambio button {
      margin: 10px; }

#misSkillsSection .cabeceraSkills h1 {
  text-align: center; }
#misSkillsSection .cabeceraSkills .botonesVista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px; }
  #misSkillsSection .cabeceraSkills .botonesVista .skillBasico {
    margin-right: 5%; }
  #misSkillsSection .cabeceraSkills .botonesVista .skillEspecializado {
    margin-left: 5%; }
  #misSkillsSection .cabeceraSkills .botonesVista .skillBasico, #misSkillsSection .cabeceraSkills .botonesVista .skillEspecializado {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction: column; */
    /* flex: 62px; */
    -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
    /* background: red; */
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px solid #7986CB;
    /* background: #e0f2f1; */ }
    #misSkillsSection .cabeceraSkills .botonesVista .skillBasico img, #misSkillsSection .cabeceraSkills .botonesVista .skillEspecializado img {
      border: 4px solid #4DD0E1;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 113px;
              flex: 0 0 113px; }
    #misSkillsSection .cabeceraSkills .botonesVista .skillBasico button, #misSkillsSection .cabeceraSkills .botonesVista .skillEspecializado button {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 113px;
              flex: 0 0 113px;
      padding: 12px; }
      #misSkillsSection .cabeceraSkills .botonesVista .skillBasico button h2, #misSkillsSection .cabeceraSkills .botonesVista .skillEspecializado button h2 {
        font-size: 20px;
        margin-bottom: 0; }
#misSkillsSection .carrerasEscoger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* width: 81%; */
  margin: auto;
  margin-top: 37px;
  border: 1px solid #7b1fa2;
  border-radius: 58px 58px;
  /* padding: 52px; */ }
  #misSkillsSection .carrerasEscoger .navegacion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    #misSkillsSection .carrerasEscoger .navegacion span {
      /* height: 30px; */
      height: 80px;
      width: 40px;
      text-align: center;
      /* margin: auto; */
      font-size: 62px;
      padding: auto;
      color: #0275d8;
      margin-top: 32px; }
  #misSkillsSection .carrerasEscoger .itemCarrera {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0px;
    /* background: red; */
    margin: 16px;
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    /* background: red; */
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #misSkillsSection .carrerasEscoger .itemCarrera img {
      width: 100px; }
    #misSkillsSection .carrerasEscoger .itemCarrera span {
      width: 100px;
      text-align: center; }
  #misSkillsSection .carrerasEscoger .seleccionada {
    background: rgba(0, 128, 0, 0.18);
    border-radius: 25px; }
#misSkillsSection .analisis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
#misSkillsSection .cuerpoSkills {
  background: rgba(56, 245, 56, 0.07);
  margin-top: 30px; }
  #misSkillsSection .cuerpoSkills .info-fast h2 {
    text-align: center;
    margin-bottom: 41px; }
  #misSkillsSection .cuerpoSkills .info-fast table {
    border-color: red;
    background: rgba(92, 184, 92, 0.38);
    width: 80%; }
#misSkillsSection .recomendacionSkill .skillsAltos {
  border: 1px solid #0275d8; }
  #misSkillsSection .recomendacionSkill .skillsAltos .cuerpoTip {
    border: 1px solid #4bbd4b; }
  #misSkillsSection .recomendacionSkill .skillsAltos .talentos {
    border: 1px solid blue; }
#misSkillsSection .recomendacionSkill .skillBajos {
  border: 1px solid rgba(201, 48, 44, 0.61); }
  #misSkillsSection .recomendacionSkill .skillBajos .cuerpoTip {
    border: 1px solid #c57f1d; }
  #misSkillsSection .recomendacionSkill .skillBajos .talentos {
    border: 1px solid #dc2358; }
#misSkillsSection .recomendacionSkill .skillsAltos, #misSkillsSection .recomendacionSkill .skillBajos {
  border-radius: 20px;
  margin-top: 15px; }
  #misSkillsSection .recomendacionSkill .skillsAltos .alinearVerticalmente, #misSkillsSection .recomendacionSkill .skillBajos .alinearVerticalmente {
    padding: 10px; }
    #misSkillsSection .recomendacionSkill .skillsAltos .alinearVerticalmente h3, #misSkillsSection .recomendacionSkill .skillBajos .alinearVerticalmente h3 {
      text-align: right;
      font-size: 13px;
      text-decoration: underline; }
    #misSkillsSection .recomendacionSkill .skillsAltos .alinearVerticalmente .cuerpoTip, #misSkillsSection .recomendacionSkill .skillBajos .alinearVerticalmente .cuerpoTip {
      margin: 15px;
      border-radius: 9px; }
    #misSkillsSection .recomendacionSkill .skillsAltos .alinearVerticalmente .talentos, #misSkillsSection .recomendacionSkill .skillBajos .alinearVerticalmente .talentos {
      margin: 23px;
      /* margin-left: 17%; */
      border-radius: 9px;
      padding: 15px; }
    #misSkillsSection .recomendacionSkill .skillsAltos .alinearVerticalmente .botonesTip, #misSkillsSection .recomendacionSkill .skillBajos .alinearVerticalmente .botonesTip {
      text-align: center; }

.alinearVerticalmente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.papaCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 320px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .papaCards .alinearVerticalmente {
    margin: 10px;
    border: 1px solid #4DD0E1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 189px;
            flex: 0 0 189px; }
    .papaCards .alinearVerticalmente h2 {
      font-size: 21px;
      color: #4DD0E1;
      text-align: center; }
    .papaCards .alinearVerticalmente p {
      font-size: 13px;
      text-align: center;
      color: #989494;
      margin-top: 20px; }

#miCarreraDetail #mynetwork {
  height: 600px; }
#miCarreraDetail #eventSpan {
  display: none; }

.cabMisCar h2 {
  text-align: center; }

.detalleCarreras {
  border: 1px solid #aeea00 !important;
  height: 350px; }
  .detalleCarreras h2 {
    color: #8bc34a !important; }

/*# sourceMappingURL=estilos.css.map */