<h1>{{titulo}}</h1>
    <a *ngIf=" identity && identity.role=='ROLE_ADMIN'" [routerLink]="['/crear-pregunta']" class="btn btn-default">
        Nueva Pregunta
    </a>
    <div id="misUsuarios" class="container" *ngIf="!nuevoUsuario">
        <div class="row">
            <ul class="pagination pull-right">
                <li><a [routerLink]="['/configurar-test',prev_page]">&laquo;</a></li>
                <li><a [routerLink]="['/configurar-test',next_page]">&raquo;</a></li>
            </ul>
        </div>
        <div class="row">
            <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    
                     <!-- <th>Rol</th> 
                    <th>Tipo_Pregunta</th>
                    <th>Criterio</th>
                    <th>Accion</th> -->
                </tr>
            </thead>
            <tbody>
                <tr id={{usuario._id}} *ngFor="let usuario of usuarios.users">
                    <td><input type="text" [(ngModel)]="usuario.name"></td> 
                    <td><input type="text" [(ngModel)]="usuario.email"></td>
                    <td><input type="text" [(ngModel)]="usuario.role" ></td>
                    <!-- <td><input type="checkbox" [(ngModel)]="pregunta.esCarta"></td>    
                    <td><input type="number" [(ngModel)]="pregunta.numeroPregunta" ></td> 
                    <td><input type="text" [(ngModel)]="pregunta.cuerpoPregunta" ></td>
                    <td><select [(ngModel)]="pregunta.tipoPregunta"><option *ngFor="let tipo of tiposPreguntas" [ngValue]="tipo">{{tipo}}</option></select></td>     
                    <td><input type="text" [(ngModel)]="pregunta.criterio" ></td>
                    <td><button type="button" class="btn btn-default btn-lg" (click)="eliminarPregunta(in)">Eliminar</button><button type="button" class="btn btn-default btn-lg" (click)="editarPregunta(in)">Editar</button><button type="button" class="btn btn-default btn-lg" (click)="GuardarPregunta(in)">Guardar</button></td> -->
                </tr>  
            </tbody> 
            </table>


            <input type="submit" value="Agregar Usuario" (click)="activarNuevoUsuario()" class="btn btn-success">
            
        </div>
    </div>

    <div id="nuevoUsuario" *ngIf="nuevoUsuario">
            <!-- <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-10">
                <p>
                    <label>Nombre:</label>
                    <input type="text"  #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control" required>
                    <span *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>                
                </p>
                <p>
                    <label>Apellido:</label>
                    <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" class="form-control" required>
                    <span *ngIf="!surname.valid && surname.touched">Los apellidos son obligatorio</span>                      
                </p>
                <p>
                    <label>Correo Electronico:</label>
                    <input type="email" #email="ngModel" name="email" [(ngModel)]="user_register.email" class="form-control" required>
                    <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
                </p>
                <p>
                    <label>Contraseña</label>
                    <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password" class="form-control" required>
                    <span *ngIf="!password.valid && password.touched">El email es obligatorio</span>                
                </p>
                
                <input type="submit" value="Entrar" class="btn-primary">
                
            </form> -->
            <div>Hola chicas</div>
    </div> 