<h1>{{titulo}} del Test General</h1>
        <div *ngIf="alertMessage">
            <div class="alert alert-info">
                <strong>{{alertMessage}}</strong>
            </div>
        </div>
<div class="container">
    <div class="row">
  <form #formPreguntaTest="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6">
    <!-- <p>
        <label>numeroPregunta:</label>
        <input type="text" #numeroPregunta="ngModel" name="numeroPregunta" [(ngModel)]="pregunta.numeroPregunta" class="form-control" required>
                 
        <span *ngIf="!numeroPregunta.valid && numeroPregunta.touched">
            El numero de Pregunta no es valido
        </span>
    </p> -->
    <p>
        <label>Pregunta</label>
        <textarea type="text" #cuerpoPregunta="ngModel" name="cuerpoPregunta"[(ngModel)]="pregunta.cuerpoPregunta" class="form-control" required></textarea>
        <span *ngIf="!cuerpoPregunta.valid && cuerpoPregunta.touched">
            La pregunta no es  valida
        </span>
    </p>
    <p>
        <label>Tipo de Pregunta</label>
        <select #tipoPregunta="ngModel" name="tipoPregunta" [(ngModel)]="pregunta.tipoPregunta" class="form-control" required><option *ngFor="let tipo of tiposPreguntas" [ngValue]="tipo">{{tipo}}</option></select>
        <span *ngIf="!cuerpoPregunta.valid && cuerpoPregunta.touched">
            El tipo de pregunta no es  valida
        </span>
    </p>
     <p>
        <label>Criterio </label>
        <textarea type="text" #criterio="ngModel" name="criterio"[(ngModel)]="pregunta.criterio" class="form-control" required></textarea>
        <span *ngIf="!criterio.valid && criterio.touched">
            El criterio  no es  valida
        </span>
    </p> 
     <p>
        <label>¿Incluirlo al test actual?</label>
        <input type="checkbox" #esCarta="ngModel" name="esCarta" [(ngModel)]="pregunta.esCarta" class="form-control" >
        <span *ngIf="!cuerpoPregunta.valid && cuerpoPregunta.touched">
            La respuesta no es  valida
        </span>
    </p>


   <button type="button" class="btn btn-default btn-lg" (click)="agregarAlternativa()">Agregar alternativa</button>
    

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Alternativa</th>
      <th *ngFor="let skill of skills">{{skill}}</th>
      <th>Accion</th>
    </tr>
  </thead>
   <tbody>
     <tr *ngFor="let alternativa of pregunta.alternativas; let in=index; trackBy: trackByIndex">
      <th>{{alternativa.ordenAlternativa}}</th>
      <td><input type="text" [(ngModel)]="pregunta.alternativas[in].cuerpoAlternativa" [ngModelOptions]="{standalone: true}"></td>  
      <td *ngFor="let valor of alternativa.valorSkills; let indo=index; trackBy: trackByIndex"><input type="number" min="0" max ="5" [(ngModel)]="alternativa.valorSkills[indo].puntos" [ngModelOptions]="{standalone: true}"></td>  
      <td><button type="button" class="btn btn-default btn-lg" (click)="eliminarAlternativa(in)">Eliminar</button></td>
    </tr>
  </tbody> 
</table>

<!-- <table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pruebita of pruebitas; let in=index; trackBy: trackByIndex" > 
      <th>{{pruebita.nombre}}</th>
      <th>{{pruebita.apellido}}</th>
 <td><button type="button" class="btn btn-default btn-lg" (click)="eliminarAlt(in)">Eliminar</button></td>
    </tr>
  </tbody>
</table> -->

     <input type="submit" value="{{titulo}}" [disabled]="!formPreguntaTest.form.valid" class="btn btn-success"> 
</form>  

    <!-- <div *ngFor="let name of names; let nameIndex = index; trackBy: trackByIndex">
      <input type="text" 
        [(ngModel)]="names[nameIndex]"/>
      <br/>
      {{ names | json }}
    </div> -->


        
    </div>
</div>