<div *ngIf="artist" class="artist-box">
    <div id="artist-head-card">
         <div class="artist-image">
           <img src="{{url +'get-image-artist/'+ artist.image}}" *ngIf="artist.image && artist.image !='null'">
         </div>
        <div class="data">
            <h1>{{artist.name}}</h1>
            <p class="description">{{artist.description}}</p>
        </div>
        <a [routerLink]="['/crear-album',artist._id]" *ngIf="identity.role=='ROLE_ADMIN'" class="btn btn-secondary">
            Añadir Album
        </a>

    </div>
    <div class="clearfix"></div>
    <div id="gallery-albums" *ngIf="albums">
                    <ul class="album-list" *ngIf="identity">
                        <div class="container">
                                <div class="row">
                                    <li *ngFor="let album of albums" class="col-log-3 artist-item">
                                        
                                        <div class="artist-image">
                                            <img src="{{url +'get-image-album/'+ album.image}}">
                                        </div>
                                        <div class="artist-name">
                                                <a [routerLink]="['/']">
                                                    {{album.title}}

                                                </a>
                                                <div class="buttons" *ngIf="identity.role=='ROLE_ADMIN'">
                                                    <a [routerLink]="['/editar-album',album._id]" class="btn btn-sm btn-warning">Editar</a>
                                                    <a (click)="onDeleteConfirm(album._id)" class="btn btn-sm btn-danger">Borrar</a>
                                                    
                                                </div>
                                                <div class="seguro" *ngIf="confirmado == album._id">
                                                    <a (click)="onDeleteAlbum(album._id)" class="btn btn-sm btn-danger">Eliminar</a>
                                                    <a (click)="onCancelAlbum()" class="btn btn-sm btn-primary">Cancelar</a>
                                                    
                                                </div>
                                            </div>
                                    </li>

                                </div>

                            </div>
                    </ul>
       

    </div>
</div>