<section id="todoClase">
<section id="cabeceraTest">
    <div class="container cabMisCar">
        <h1 class="encabezadoTitulo">{{titulo}}</h1>
    </div>
</section>
<section id="datosCarrera">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Introduccion Clase
                        </a>
                    </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Palabras claves
                        </a>
                    </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Lecciones
                        </a>
                    </h5>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-block">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                    </div>
                </div>
                </div>


</section>
<section id="ClaseExplorarCarrera">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-12">
                <!-- EMPIEZA -->
                <div id="cuerpoTest">
                    <section id="test0" *ngIf="!mostrarParte" class="cuerpoTest">
                        <div class="container">
                            <div class="row">
                                <div class="pregunta col-sm-12">
                                    <p class="enunciado">Con cual opcion te identificas</p>
                                    <div class="alternativas" >
                                            <div class="alternativa">
                                                <input type="checkbox" name="tipoUsuario" id="check1"  (change)='unicaAlternativa(1,"check","tipoEstudiante")' />
                                                <label for="check1">
                                                <div><i class="fa fa-check"></i></div>Iniciare una carrera
                                                </label>
                                            </div>
                                            <div class="alternativa">
                                                <input type="checkbox" name="tipoUsuario"  id="check2" (change)='unicaAlternativa(2,"check","tipoEstudiante")'/>
                                                <label for="check2">
                                                <div><i class="fa fa-check"></i></div>Quiero otra carrera 
                                                </label>
                                            </div>
                                            <div class="alternativa">
                                                <input type="checkbox" name="tipoUsuario"  id="check3" (change)='unicaAlternativa(3,"check","tipoEstudiante")' />
                                                <label for="check3">
                                                <div><i class="fa fa-check"></i></div>Quiero iniciar una maestría
                                                </label>
                                            </div>
                                            <div class="botonesCambio">
                                            <button type="button" class="btn btn-primary">Siguiente</button>
                                            <button type="button" class="btn btn-success">Guardar</button>
                                            </div>
                                    </div>        
                                </div>
                            </div>
                        </div>
                    </section>
                </div>




                <!-- TERMINA -->

            </div>




        </div>
    </div>
</section>
</section>