<h1>{{titulo}}</h1>
        <div *ngIf="alertMessage">
            <div class="alert alert-info">
                <strong>{{alertMessage}}</strong>
            </div>
        </div>

    <a *ngIf=" identity && identity.role=='ROLE_ADMIN'" [routerLink]="['/crear-pregunta']" class="btn btn-default">
        Nueva Pregunta
    </a>
    <div class="container">
        <div class="row">
        <ul class="pagination pull-right">
            <li><a [routerLink]="['/configurar-test',prev_page]">&laquo;</a></li>
            <li><a [routerLink]="['/configurar-test',next_page]">&raquo;</a></li>
        </ul>

        </div>

    </div>

<div class="container">
    <div class="row">

        <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>¿Agregar al nuevo test?</th>
                <th>#</th>
                <th>Pregunta</th>
                <th>Tipo_Pregunta</th>
                <th>Criterio</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pregunta of preguntas; let in=index; trackBy: trackByIndex">
                <td><input type="checkbox" [(ngModel)]="pregunta.esCarta"  ></td>    
                <td><input type="number" [(ngModel)]="pregunta.numeroPregunta" ></td> 
                <td><input type="text" [(ngModel)]="pregunta.cuerpoPregunta" ></td>
                <td><select [(ngModel)]="pregunta.tipoPregunta"><option *ngFor="let tipo of tiposPreguntas" [ngValue]="tipo">{{tipo}}</option></select></td>     
                <td><input type="text" [(ngModel)]="pregunta.criterio" ></td>
                <td><button type="button" class="btn btn-default btn-lg" (click)="eliminarPregunta(in)">Eliminar</button><button type="button" class="btn btn-default btn-lg" (click)="editarPregunta(in)">Editar</button><button type="button" class="btn btn-default btn-lg" (click)="GuardarPregunta(in)">Guardar</button></td>
            </tr>  
        </tbody> 
        </table>


        <input type="submit" value="Crear Pregunta" (click)="onSubmit()" class="btn btn-success">
        <!-- <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
            </li>
        </ul>
        </nav> -->
    <!-- <div *ngFor="let name of names; let nameIndex = index; trackBy: trackByIndex">
      <input type="text" 
        [(ngModel)]="names[nameIndex]"/>
      <br/>
      {{ names | json }}
    </div> -->

        
    </div>
</div>















