<section id="home">
<div class="container">
    <div class="row bienvenida" *ngIf="user.name">
        <div class="col-lg-12  ">
                <h1>{{titulo}}</h1>
        </div>
    </div>
    <div class="row notificaciones">
        <h2 class="col-lg-12  ">Notificaciones</h2>
        <div class="col-lg-12  ">
            <div class="card text-center">
                <div class="card-header">
                    A EMPEZAR!!
                </div>
                <div class="card-block">
                    <h4 class="card-title">Inicia tu test Inteligente</h4>
                    <p class="card-text">Es el primer paso para iniciar a explorar las mas de 100 carreras con alta demanda laboral que tenemos</p>
                    <a [routerLink]="['/mi-test']" class="btn btn-primary">Ir al test </a>
                </div>
                <div class="card-footer text-muted">
                    hoy
                </div>
            </div>
        </div>
        <div class="col-lg-12  ">
            <div class="card text-center">
                <div class="card-header">
                    NOVEDADES
                </div>
                <div class="card-block">
                    <h4 class="card-title">Nuevas Carreras</h4>
                    <p class="card-text">Se ha habilitado 10 nuevas carreras con 30 campos de estudio entre ellas Agronomia , Ingenieria Ambiental , Ingenieria Forestal</p>
                    <a [routerLink]="['/mi-test']" class="btn btn-primary">Ir al test </a>
                </div>
                <div class="card-footer text-muted">
                    hoy
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-lg-10  ">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                    <img class="d-block img-fluid" src="../../assets/images/fondo-servicios.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                    <img class="d-block img-fluid" src="../../assets/images/fondo-encabezado-grande.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                    <img class="d-block img-fluid" src="../../assets/images/proyecto1.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div> -->
</div>
</section>

