<!-- CABECERA ESTANDAR -->
<section id="cabeceraTest">
    <div class="container">
        <h1 class="encabezadoNumero">1</h1>
        <h1 class="encabezadoTitulo">Cuentanos de ti </h1>
        <div class="situacionActual">
            <img src="../../assets/images/miNave.png" alt="">
            <h2>Tu entorno</h2>
        </div>
        <div class="circulos" *ngIf=mostrarCirculos>
            <!-- <div class="circulo">0</div>
            <div class="circulo">1</div>
            <div class="circulo">2</div>
            <div class="circulo">3</div>
            <div class="circulo">4</div>
            <div class="circulo">5</div>
            <div class="circulo">6</div> -->
            <div class="circulo" *ngFor="let circulo of circulos">{{circulo}}</div> 
        </div>
    </div>
</section>
<!-- CUERPO ESTANDAR -->
<div id="cuerpoTest">
    <section id="test0" *ngIf="!mostrarParte" class="cuerpoTest">
        <div class="container">
            <div class="row">
                <div class="pregunta col-sm-12">
                    <p class="enunciado oblig0">Con cual opcion te identificas</p>
                    <div class="alternativas" >
                            <div class="alternativa">
                                <input type="checkbox" name="tipoUsuario" id="check1"  (change)='unicaAlternativa(1,"check","tipoEstudiante")' />
                                <label for="check1">
                                <div><i class="fa fa-check"></i></div>Iniciare una carrera
                                </label>
                            </div>
                            <div class="alternativa">
                                <input type="checkbox" name="tipoUsuario"  id="check2" (change)='unicaAlternativa(2,"check","tipoEstudiante")'/>
                                <label for="check2">
                                <div><i class="fa fa-check"></i></div>Quiero otra carrera 
                                </label>
                            </div>
                            <div class="alternativa">
                                <input type="checkbox" name="tipoUsuario"  id="check3" (change)='unicaAlternativa(3,"check","tipoEstudiante")' />
                                <label for="check3">
                                <div><i class="fa fa-check"></i></div>Quiero iniciar una maestría
                                </label>
                            </div>
                    </div>        
                </div>
                <div class="pregunta col-sm-12">
                    <p class="oblig0">Como te sientes en esta etapa de tu vida con respecto a tu carrera</p>
                    <select class="custom-select" [(ngModel)]="testResultado.estaEtapa.resul"  placeholder="HoliBoli">
                        <option value="Excelente y emocionado" >Excelente y emocionado</option> 
                        <option value="Con dudas y miedos">Con dudas y miedos</option>
                        <option value="Me es indiferente">Me es indiferente</option>
                        <option value="Otro">Otro</option>
                        <option value="Escoge una opcion" class="noMostrar">Escoge una opcion</option>
                    </select> 
                    <span>Danos un poco mas de detalle(Opcional)</span>
                    <textarea [(ngModel)]="testResultado.estaEtapa.expl"></textarea>  
                </div>
                <div class="pregunta col-sm-12">
                    <p class="oblig0">¿Como es tu relacion con tus padres?(En referencia a tus sueños y gustos )</p>
                    <select class="custom-select" [(ngModel)]="testResultado.relPadres.resul"  placeholder="HoliBoli">
                        <option value="Me apoyan en lo que decida para mi vida" >Me apoyan en lo que decida para mi vida</option> 
                        <option value="Me apoyan pero no cuento con los recursos economicos para seguir mis sueños">Me apoyan pero no cuento con los recursos economicos para seguir mis sueños</option>
                        <option value="Me obligan a estudiar algo que no estoy seguro que me guste">Me obligan a estudiar algo que no estoy seguro que me guste</option>
                        <option value="Son indiferentes con ello">Son indiferentes con ello</option>
                        <option value="Escoge una opcion" class="noMostrar">Escoge una opcion</option>
                    </select> 
                    <span>Danos un poco mas de detalle(Opcional)</span>
                    <textarea [(ngModel)]="testResultado.relPadres.expl"></textarea>
                </div>     
                <div class="pregunta col-sm-12">
                    <p class="oblig0">¿Con que frecuencia conversas con tus papas sobre tu futuro?</p>                
                    <select class="custom-select" [(ngModel)]="testResultado.relPadres.frec" placeholder="HoliBoli">
                        <option value="Casi nunca" >Casi nunca</option> 
                        <option value="Un par de  veces  por mes">Un par de  veces  por mes</option>
                        <option value="Cada vez que puedo se los comento">Cada vez que puedo se los comento</option>
                        <option value="Escoge una opcion" class="noMostrar">Escoge una opcion</option>
                    </select>
                </div>
                <div class="pregunta col-sm-12">
                    <p id="ultoblig0" class="oblig0">¿Que carrera siempre has querido?</p>                
                    <select [(ngModel)]="testResultado.primerInteres" class="form-control">
                        <option value="Primera opcion (Obligatorio)" class="noMostrar">Primera opcion</option>
                        <option *ngFor="let carrera of carreras" [ngValue]="carrera" >{{carrera}}</option>
                    </select>
                    <br>
                    <select [(ngModel)]="testResultado.segundoInteres" class="form-control">
                        <option value="Segunda opcion (Opcional)" class="noMostrar">Segunda opcion</option>
                        <option *ngFor="let carrera of carreras" [ngValue]="carrera" >{{carrera}}</option>
                    </select>
                </div>
            </div>
        </div>
    </section>
    <section id="test1" *ngIf="mostrarParte" class="cuerpoTest">
        <div class="container">
            <div class="row">
                <div class="pregunta col-sm-12">
                    <p id="enunciadoActivo" class="enunciado">{{preguntaActiva.cuerpoPregunta}}</p>
                    <div  class="alternativas" >
                            <div class="alternativa" *ngFor="let alternativa of preguntaActiva.alternativas">
                                <input type="checkbox" name="tipoUsuario" id={{alternativa._id}}  (change)='multipleAlternativa(alternativa)' />
                                <label for={{alternativa._id}}>
                                <div><i class="fa fa-check"></i></div>{{alternativa.cuerpoAlternativa}}
                                </label>
                            </div>
                    </div>        
                </div>
            </div>
        </div>
    </section>

</div>
<!-- FOOTER -->
<section id="footerTest" class="test1">
    <div class="alert alert-warning elemTest" *ngIf="messageMostrar" role="alert">
    <strong>Completar!</strong>Esta imformacion es importante para darte un mejor resultado. 
    </div>
    <div class="container">
        <div class="row">
            <!-- <div class="botonSiguiente col-sm-6 ">
                <button type="button" id="btnAtras" class="btn btn-warning btn-lg" (click)='SiguientePaso("-")'>Atras</button>
            </div> -->
            <div class="botonSiguiente col-sm-6">
                <button type="button" class="btn btn-primary btn-lg" (click)='SiguientePaso("+")'>{{siguiente}}</button>
            </div>
        </div>

    </div>
</section>
