<div id="cuerpo-mis-Skills">
    <div id="contenido-cuerpo">
        <div id="cabeceraTest">
            <span>MIS HABILIDADES</span>
        </div>
        <div id="botones">
            <input id="atras-preg" type="submit" value="BASICAS">
            <input id="siguiente-preg" type="submit" value="ESPECIALIZADAS">
        </div>

        <div id="mensajeEntrada">
            <div id="contenidoMensaje"> 
                <div id="primerNivel">
                    <div id="izquierda">
                        <img alt="" src="../../assets/images/tata2.svg">
                    </div>
                    <div id="derecha">
                        <h1>Hemos descubierto que eres una combinacion de <span>3</span> personalidades</h1>
                        <div id="tituloMensaje">
                            <div id="barraPersonalidad">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                            </div>
                        </div>         
                    </div>
                </div>
                
            </div>
        </div>


<div id="carouselSkills">
    <div class="izquierdaMov">
        <i aria-hidden="true" class="fa fa-chevron-left"></i>
    </div>
    
    <div id="cuerpoCarr">
        <div class="tarjeta">
            <div class="parteSupTar">
                <img alt="" src="../../assets/images/b4f.svg">         
                <div class="circuloPuesto">
                    <span>1</span>
                </div>
            </div>
            <div class="parteInfTar">
                <span class="tituloPI">Emprendedor</span>
                <span class="cuerpoPI">Estas personas prefieren
                    conducir o dirigir personas. En
                    general son sociables y audaces.
                    Muestran capacidades de
                    liderazgo y comunicación
                </span>
                <div class="algunasCarreras">
                    <span class="carreras">Carreras</span>
                    <div class="listaCarreras">
                        <span>Marketing</span>   <span>Marketing</span>   <span>Marketing</span>   <span>Marketing</span>   <span>Marketing</span>      <span>Marketing</span>
                    </div>
                </div>
                <div class="botonesTarjeta">
                    <span class="empezarButton">Explorar carreras</span>
                </div>
            </div>
        </div>
                <div class="tarjeta">
            <div class="parteSupTar">
                <img alt="" src="../../assets/images/b4f.svg">         
                <div class="circuloPuesto">
                    <span>1</span>
                </div>
            </div>
            <div class="parteInfTar">
                <span class="tituloPI">Emprendedor</span>
                <span class="cuerpoPI">Estas personas prefieren
                    conducir o dirigir personas. En
                    general son sociables y audaces.
                    Muestran capacidades de
                    liderazgo y comunicación
                </span>
                <div class="algunasCarreras">
                    <span class="carreras">Carreras</span>
                    <div class="listaCarreras">
                        <span>Marketing</span>   <span>Marketing</span>   <span>Marketing</span>   <span>Marketing</span>   <span>Marketing</span>      <span>Marketing</span>
                    </div>
                </div>
                <div class="botonesTarjeta">
                    <span class="empezarButton">Explorar carreras</span>
                </div>
            </div>
        </div>
                <div class="tarjeta">
            <div class="parteSupTar">
                <img alt="" src="../../assets/images/b4f.svg">         
                <div class="circuloPuesto">
                    <span>1</span>
                </div>
            </div>
            <div class="parteInfTar">
                <span class="tituloPI">Emprendedor</span>
                <span class="cuerpoPI">Estas personas prefieren
                    conducir o dirigir personas. En
                    general son sociables y audaces.
                    Muestran capacidades de
                    liderazgo y comunicación
                </span>
                <div class="algunasCarreras">
                    <span class="carreras">Carreras</span>
                    <div class="listaCarreras">
                        <span>Marketing</span>   <span>Marketing</span>   <span>Marketing</span>   <span>Marketing</span>   <span>Marketing</span>      <span>Marketing</span>
                    </div>
                </div>
                <div class="botonesTarjeta">
                    <span class="empezarButton">Explorar carreras</span>
                </div>
            </div>
        </div>
    </div>
    <div class="derechaMov">
        <i aria-hidden="true" class="fa fa-chevron-right"></i>
    </div>
</div>



</div>





</div>


<section id="misSkillsSection">
<div class="container">
    
    <div class="cabeceraSkills">
        <h1>{{titulo}}</h1>
            <div class="papaCards">
                <div class="alinearVerticalmente">
                    <img src="../../assets/images/miNave.png" alt="">
                    <h2>Basicas</h2>
                     <button type="button" class="btn btn-primary">
                    GO!!
                    </button> 
                </div>
                <div class="alinearVerticalmente">
                    <img src="../../assets/images/miNave.png" alt="">
                    <h2>Especializadas</h2>
                     <button type="button" class="btn btn-primary">
                    GO!!
                    </button> 
                </div>
            </div>
    </div>
    <div class="carrEscoger row">
        <div class="carrerasEscoger col-lg-10">
        
            <div class="navegacion">
                <span class="previous round">&#8249;</span>
            </div>
            
            <div class="itemCarrera seleccionada" *ngFor="let carreraExplorada of carrerasExploradas">
                <img src="../../assets/images/miNave.png" alt="">
                <span>{{carreraExplorada.nombreCarrera}}</span>
            </div>
            <!-- <a href="#" class="next round">&#8250;</a> -->
            <div class="navegacion">
                <span class="next round">&#8250;</span>
            </div>
        </div>
        <div class="analisis col-lg-2">
            <h2>Comparar</h2>
            <div>
                <button type="button" class="btn btn-primary">+</button>
                <button type="button" class="btn btn-success">-</button>            
            </div>
        </div>
    </div>
    <div class="cuerpoSkills row">
        <div class="info-fast col-lg-5 alinearVerticalmente">
            <h2 >Ingenieria de Sistemas</h2>
            <table class="table">
                <thead>
                    <tr>
                    <th>Skill Basico</th>
                    <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        <div id="canvas-container-skill" class="col-lg-7">
            <canvas id="myChart3" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="recomendacionSkill">
        <div class="skillsAltos row">
            <div class="col-lg-6 alinearVerticalmente">
                <h2>WAOO ,ERES INCREIBLE !!</h2>
                <div class="talentos">
                    <ul>
                        <li>Tienes una alta capacidad de analisis</li>
                        <li>Tiendes a manejar muy bien la tecnologia.</li>
                    </ul>
                </div>    
            </div>
            <div class="col-lg-6 alinearVerticalmente">
                <h2>¿Como me vuevo el mejor?</h2>
                <div class="cont-tip">
                    <h3>TIP DEL DIA</h3>
                    <h4>Skill <strong>Tecnologia</strong></h4>
                    <div class="cuerpoTip">
                        Te recomendamos las siguientes peliculas para que te des una idea mas cercana sobre la tecnologia
                        Busca material acerca de ello , te recomendamos los tutoriales de nuestro instructor Marco .
                    </div>
                    <div class="botonesTip">
                        <button type="button" class="btn btn-primary">
                            Siguiente tip
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="skillBajos row">
            <div class="col-lg-6 alinearVerticalmente">
                <h2>¿Como lo vuelvo una ventaja?</h2>
                <div class="talentos">
                    <ul>
                        <li>Tenemos que mejorar en nuestra percepcion Sistemica, la cual es util para entender ver los problemas de forma global .</li>
                        <li>La abstraccion es importante para esta carrera , nos permite</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 alinearVerticalmente">
                <h2>¿Como me vuevo el mejor?</h2>
                <div class="cont-tip">
                    <h3>TIP DEL DIA</h3>
                    <h4>Skill <strong>Tecnologia</strong></h4>
                    <div class="cuerpoTip">
                        Te recomendamos las siguientes peliculas para que te des una idea mas cercana sobre la tecnologia
                        Busca material acerca de ello , te recomendamos los tutoriales de nuestro instructor Marco .
                    </div>
                    <div class="botonesTip">
                        <button type="button" class="btn btn-primary">
                            Siguiente tip
                        </button>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
</section>
       