<h1>{{titulo}}</h1>
        <div id="canvas-container-skill" class="col-lg-7">
                 <canvas id="bar-chart" width="800" height="450"></canvas>
        </div>
        <canvas id="bar-chart" width="800" height="450"></canvas>
<canvas id="doughnut-chart" width="800" height="450"></canvas>