<div>Cositas ricas vamos a usar aca </div>
<div class="container">
    <div class="row">
            <div id="canvas-container" class="col-lg-6">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div id="canvas-container" class="col-lg-6">
                <canvas id="myChart2" width="400" height="400"></canvas>
            </div>
            <div id="canvas-container" class="col-lg-12">
                <canvas id="myChart3" width="400" height="400"></canvas>
            </div>
    </div>
        
    <div class="row graficaGrafos">
        Holis bolis
            <div class="" id="eventSpan"></div>
        <div id="mynetwork"></div>
    </div>
</div>


